<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Eventlist</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap-4.0.0-dist/css/bootstrap.min.css" th:href="@{css/bootstrap-4.0.0-dist/css/bootstrap.min.css}" />
</head>
<body>

<h1 th:text="#{welcome.message}"></h1>

<span th:text="#{language.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="de" th:text="#{lang.de}"></option>
</select>

<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
    </script>

<div class="col-md-4">
	</div>
	<div class="col-md-4">
	<br>
	<h3 th:inline="text">You are logged in as [[${#httpServletRequest.remoteUser}]]</h3>  
	</div>
	<div class="col-md-4" style="padding:20px 0">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sing out" class="btn btn-danger" />
	</form>
	</div>	
<table class="table">
<thead class="thead-dark">
<tr>
	<th scope="col">Name</th>
	<th scope="col">Date</th>
	<th scope="col">Time</th>
	<th scope="col">Description</th>
	<th scope="col">Price</th>
	<th scope="col">Category</th>
	<th scope="col">Location</th>
	<th scope="col" sec:authorize="hasAuthority('ADMIN')"> </th>
	<th scope="col" sec:authorize="hasAuthority('ADMIN')"> </th>
</tr>

<tr th:each="event : ${events}">
<td th:text="${event.name}">name</td>
<td th:text="${event.date}">date</td>
<td th:text="${event.time}">time</td>
<td th:text="${event.description}">description</td>
<td th:text="${event.price}">price</td>
<td th:text="${event.category.name}">category</td>
<td th:text="${event.location.name}">location</td>

<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${event.id})}" class="btn btn-danger">Delete</a></td>
<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editevent/{id}(id=${event.id})}" class="btn btn-warning">Edit</a></td>
</tr>
</table>

<a href="/newevent" class="btn btn-success">New event</a>

</body>
</html>